.container {
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

/* Start Landing Page */

.landing-page {
    position: relative;
    background-color: #FFF;
}

.landing-page .header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
}

.landing-page .header-area .logo {
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    font-size: 19px;
    width: 300px;
    color: #5d5d5d;
}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}

.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 30px;
    color: #5d5d5d;
    cursor: pointer;
}

.landing-page .header-area .links li a {
    display: inline-block;
    margin-left: 30px;
    color: #5d5d5d;
    text-decoration: none;
}

.landing-page .header-area .button {
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: #FFF;
    background-color: #1F45FC;
}

.landing-page .container2{
  background:url(../images/Bubble\ 1.png);
  padding: 250px 0;
  background-size:contain;
background-repeat: no-repeat;
}


.landing-page .info {
    width: 50%;
    float: left;
    margin-left: 80px;
    margin-top: -60px;
}

.landing-page .info h1 {
    font-size: 37px;
    margin: 0 0 20px;
    line-height: 1.4;
    color: navy;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 15px;
    color: #5d5d5d;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color:#1F45FC;
}



.landing-page .image img {
    max-width: 100%;
}

.clearfix {
  clear: both;
}
.register-photo {

  }
  
  .register-photo .image-holder {
    display: table-cell;
    width: auto;
    height: auto;
    background: url(../images/Contact\ Animations.png);
    background-size:contain;
    background-repeat: no-repeat;
  }
  
  .register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: -120px auto;
  }
  
  .register-photo form {
    display: table-cell;
    width: 550px;
    
    padding: 40px 60px;
    color: #505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding: 40px;
    }
  }
  
  .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .register-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px;
  }
  
  .register-photo form .form-check {
    font-size: 13px;
    line-height: 20px;
  }
  
  .register-photo form .btn-primary {
    background: green;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background: green;
  }
  
  .register-photo form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }

  .input1{
    font-size: 12px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    width: 140px;
    height:35px;
    border:solid 1px  #B2BEB5;
  }

  .input2{
    font-size: 12px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    width: 300px;
    height:35px;
    border:solid 1px  #B2BEB5;
  }

  .btn1{
    width: 120px;
    height: 30px;
    color: white;
    background-color:#4CA6FF;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
  }

  .img1{
   margin-top: 80px;
   height: 25px;
   width: auto;
   margin-bottom: 40px;
  }

  .img2{
    height: 200px;
    width: auto;
    margin-bottom: 40px;
   }
   .img3{
    height: 60px;
    width: auto;
    margin-bottom: 20px;
   }
   .loginImg{
    height: 550px;
    width: 550px;
    background-color: #4CA6FF;
    text-align: center;
    overflow: hidden;
   }

   .cards {
    margin-top: -80px;
    margin-left: 320px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    font-family: sans-serif;
    padding-top: 30px;
}


.imgCont{
  margin-top: 40px;
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
  background: url(../images/ManagerHome/Ellipse\ 2.png);
  background-size:contain;
  background-repeat: no-repeat;
  padding: 20px;
}


.img_a{
  text-decoration: none;
}
