.timetableBack {
  background-color: #003971;
  height: 200px;
  width: 100%;
  position: fixed;
}

.timetableContent {
  position: absolute;
  margin-top: 200px;
}

.timetableTitle {
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
}

.timetabListBox {
    background: rgba(0, 57, 113, 0.24);
border-radius: 16px;
display: flex;
width: 100%;
height: 85px;
}

.routeName {
    justify-content: center;
    font-weight: 700;
    padding-left: 20px;
font-size: 15px;
font-family: 'ABeeZee';
    align-items: center;
}
