.timetableBack {
  background-color: #003971;
  height: 200px;
  width: 100%;
}

.timetableContent {
  position: absolute;
  margin-top: 10px;
  padding-bottom: 150px;
}

.timetableTitle {
  font-weight: 700;
  font-size: 20px;
  color: white;
  text-align: center;
}

.timetabListBox {
  background: rgba(0, 57, 113, 0.24);
  border-radius: 16px;
  width: 100%;
  padding: 10px;
}

.routeName {
  justify-content: center;
  font-weight: 700;
  padding-left: 20px;
  font-size: 15px;
  font-family: "ABeeZee";
  align-items: center;
}
